asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==3.3.2
Django==2.2.27
djangorestframework==3.11.2
idna==2.7
optionaldict==0.1.1
pycparser==2.18
python-dateutil==2.7.3
pytz==2018.4
requests==2.20.0
six==1.11.0
urllib3==1.26.5
wechatpy==1.7.0
xmltodict==0.11.0
